<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	 	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	 	
		<!-- <property name="hibernate.connection.url">jdbc:postgresql://localhost/FSSAI</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">Fss2iZentech</property> -->

		<property name="hibernate.connection.url">jdbc:postgresql://localhost/fotest</property>
		<property name="hibernate.connection.username">fotestadmin</property>
		<property name="hibernate.connection.password">fotest123</property>

		<!-- <property name="hibernate.connection.url">jdbc:postgresql://localhost/FOTEST</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">test@1234</property>Fss2iZentech
 -->
		
		<!-- <property name="hibernate.c3p0.min_size">50</property>
  		<property name="hibernate.c3p0.max_size">200</property>
  		<property name="hibernate.c3p0.timeout">300</property>
  		<property name="hibernate.c3p0.max_statements">500</property>
  		<property name="hibernate.c3p0.idle_test_period">600</property>
  		
  		<property name="hibernate.c3p0.privilegeSpawnedThreads">true</property>
		<property name="hibernate.c3p0.contextClassLoaderSource">library</property>
		
		 -->
		
		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<property name="show_sql">true</property>
		<!-- <property name="connection.pool_size">100</property> -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="com.ir.model.StateMaster"/>
		<mapping class="com.ir.model.DistrictMaster"/>
		<mapping class="com.ir.model.CityMaster"/>
		<mapping class="com.ir.model.RegionMaster"/>
		<mapping class="com.ir.model.LoginDetails"/>
		<mapping class="com.ir.model.ManageTraining"/>
		<!-- <mapping class="com.ir.model.ManageCourseContent"/>
		<mapping class="com.ir.model.CourseName"/>
		<mapping class="com.ir.model.CourseType"/>
		<mapping class="com.ir.model.State"/>
		<mapping class="com.ir.model.City"/>
		<mapping class="com.ir.model.District"/>
		
		<mapping class="com.ir.model.FeedbackMaster"/>
		<mapping class="com.ir.model.ManageTrainingPartner"/>
		<mapping class="com.ir.model.FeedbackMaster"/>
		<mapping class="com.ir.model.FeedbackForm"/>
		<mapping class="com.ir.model.ManageAssessmentAgency"/>
		<mapping class="com.ir.model.PersonalInformationTrainee"/>
		<mapping class="com.ir.model.PersonalInformationTrainer"/>
		<mapping class="com.ir.model.PersonalInformationTrainingInstitute"/>
		<mapping class="com.ir.model.PersonalInformationTrainingPartner"/>
		<mapping class="com.ir.model.KindOfBusiness"/>
		<mapping class="com.ir.model.Title"/>
		<mapping class="com.ir.model.Profile"/>
		<mapping class="com.ir.model.Region"/>
		<mapping class="com.ir.model.TrainingCalendar"/>
		<mapping class="com.ir.model.TrainingPartner"/>
		<mapping class="com.ir.model.CourseEnrolled"/>
		<mapping class="com.ir.model.CourseEnrolledUser"/>
		<mapping class="com.ir.model.TrainingStatus"/>
		<mapping class="com.ir.model.AssessmentQuestion"/>
		<mapping class="com.ir.model.PersonalInformationAssessor"/>
		<mapping class="com.ir.model.PostVacancyTrainingCenter"/>
		<mapping class="com.ir.model.ContactTraineee"/>
		<mapping class= "com.ir.model.Steps"/>
		<mapping class="com.ir.model.assessor.AssessorAttendance"/>
		<mapping class="com.ir.model.assessor.AssessmentResult"/>
		<mapping class="com.ir.model.PostVacancyTrainingCenterBean"/>
		<mapping class="com.ir.model.assessor.AssessmentResult"/>
		<mapping class="com.ir.model.trainee.TraineeAssessmentEvaluation"/>
		<mapping class="com.ir.trainingcenter.model.AssesmentCalender"/>
		<mapping class="com.ir.model.TrainingCalendarHistoryLogs"/>
		<mapping class="com.ir.model.TraineeDailyAttendance"/>
		<mapping class="com.ir.model.HolidayMaster"/>
		<mapping class="com.ir.model.UnitMaster"/>
		<mapping class="com.ir.model.ModuleMaster"/>
		<mapping class="com.ir.model.SubjectMaster"/>
		
		<mapping class="com.ir.model.TrainingPartner"/>
		<mapping class="com.ir.model.TrainingSchedule"/>
		<mapping class="com.ir.model.CustomerMaster"/>
		<mapping class="com.ir.model.TaxMaster"/>
		
		<mapping class="com.ir.model.EmployeeMonthlyCharges"/>
		
		<mapping class="com.ir.model.NomineeTrainee"/>
		<mapping class="com.ir.model.CustomerDetails"/>
		<mapping class="com.ir.model.InvoiceMaster"/>
		<mapping class="com.ir.model.AssessmentQuestions"/>
	 -->
	 
	
		<mapping class="com.ir.model.ManageCourseCarricullum" />
		<!-- <mapping class="com.ir.model.FotestAssessmentQuestions" /> -->

	<mapping class="com.ir.model.RegionMapping" />
	<mapping class="com.ir.model.FeedbackMaster" />
	</session-factory>
</hibernate-configuration>
