<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  	
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<context:component-scan base-package="com.ir.controller" />
	 <mvc:annotation-driven />
	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<!-- <mvc:resources mapping="/resources/**" location="/resources/" />
	 -->	
	
	<!-- Configure the multipart resolver -->
	<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="100000" />
		<property name="uploadTempDir" ref="uploadDirResource" />
	</bean>

	<bean id="uploadDirResource" class="org.springframework.core.io.FileSystemResource">
		<constructor-arg>
			<value>C:/test111</value>
		</constructor-arg>
	</bean> -->
<!-- 	  <bean id="jsonConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"> -->
<!--         <property name="supportedMediaTypes" value="application/json" /> -->
<!--         <property name="prettyPrint" value="true" /> -->
<!--     </bean> -->

<!-- 	<bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" > -->
<!--    	 <property name="supportedMediaTypes" value="application/json" /> -->
<!-- 	</bean> -->
		<bean id="jsonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" >
    <property name="supportedMediaTypes" value="application/json" />
</bean>

<!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="100000" />
	</bean> -->
	
	
<bean id="multipartResolver"   
class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>  
<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
    <property name="messageConverters">
        <list>
            <ref bean="jsonHttpMessageConverter" />
        </list>
    </property>
</bean>
		<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="classpath:message" />
		<property name="defaultEncoding" value="UTF-8" />
		</bean>
	
	 <bean id="myBeansValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<!-- <bean id="loginValidator" class="com.ir.form.validater.LoginFormValidator" /> -->
	
	
	
	<mvc:annotation-driven validator="myBeansValidator"/>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="order" value="2"/>
		<property name="viewClass">
			<value>
				org.springframework.web.servlet.view.tiles2.TilesView
			</value>
		</property>
	</bean>
	
	
	
	<bean id="viewResolver1" class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
        <property name="order" value="1"/>
        <property name="basename" value="views"/>
    </bean>
	
	
	<bean id="tilesConfigurer"
		class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
		 
		<property name="definitions">
			<list>
				<value>/WEB-INF/tiles.xml</value>
			</list>
		</property>
	</bean>
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
			<property name="url" value="jdbc:postgresql://localhost/fotest" />
		<property name="username" value="fotestadmin" />
		<property name="password" value="fotest123" />
			
	</bean>

	<!-- Hibernate 4 SessionFactory Bean definition -->

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- <property name="hibernateProperties">
			<props>
				<prop key="hibernate.hbm2ddl.import_files">sql/default.sql</prop>
			</props>
		</property> -->
		<property name="annotatedClasses">
			<list>
			<value>com.ir.model.StateMaster</value>
				<value>com.ir.model.DistrictMaster</value>
				<value>com.ir.model.CityMaster</value>
				<value>com.ir.model.RegionMaster</value>
				<value>com.ir.model.LoginDetails</value>
				<value>com.ir.model.ManageTraining</value>
			<!-- 	<value>com.ir.model.AdminUserManagement</value>
				<value>com.ir.model.ManageTrainingPartner</value>
				<value>com.ir.model.FeedbackMaster</value>
				<value>com.ir.model.FeedbackForm</value>
				<value>com.ir.model.ManageAssessmentAgency</value>
				<value>com.ir.model.State</value>
				<value>com.ir.model.District</value>
				<value>com.ir.model.City</value>
				<value>com.ir.model.Title</value>
				<value>com.ir.model.Region</value>
				<value>com.ir.model.Profile</value>
				<value>com.ir.model.CourseType</value>
				<value>com.ir.model.CourseName</value>
				<value>com.ir.model.FeedbackMaster</value>				
				<value>com.ir.model.ManageCourseContent</value>
				<value>com.ir.model.KindOfBusinessDetailsTrainee</value>
				<value>com.ir.model.KindOfBusiness</value>
				<value>com.ir.model.PersonalInformationTrainee</value>
				<value>com.ir.model.PersonalInformationTrainer</value>
				<value>com.ir.model.PersonalInformationTrainingInstitute</value>
				<value>com.ir.model.PersonalInformationTrainingPartner</value>
				<value>com.ir.model.PersonalInformationAssessor</value>
				<value>com.ir.model.TrainingPartner</value>
				<value>com.ir.model.TrainingCalendar</value>
				<value>com.ir.model.CourseEnrolled</value>
				<value>com.ir.model.CourseEnrolledUser</value>
				<value>com.ir.model.AssessorUserManagement</value>
				<value>com.ir.model.PostVacancyTrainingCenter</value>
				<value>com.ir.model.ContactTraineee</value>
				<value>com.ir.model.assessor.AssessorAttendance</value>
				<value>com.ir.model.assessor.AssessmentResult</value>
				<value>com.ir.model.PostVacancyTrainingCenterBean</value>
				<value>com.ir.model.trainee.TraineeAssessmentEvaluation</value>
				<value>com.ir.model.trainer.TrainerAssessmentEvaluation</value>
				<value>com.ir.model.TrainingPartnerCalendarForm</value>
				<value>com.ir.model.TrainingStatus</value>
				<value>com.ir.model.TrainingCalendarHistoryLogs</value>
				<value>com.ir.model.TraineeDailyAttendance</value>
				<value>com.ir.model.HolidayMaster</value>
				<value>com.ir.model.UnitMaster</value>
				<value>com.ir.model.ModuleMaster</value>
				<value>com.ir.model.SubjectMaster</value>
				
				<value>com.ir.model.TrainingPartner</value>
				<value>com.ir.model.TrainingSchedule</value>
				<value>com.ir.model.CustomerMaster</value>
				<value>com.ir.model.TaxMaster</value>
				<value>com.ir.model.EmployeeMonthlyCharges</value>
				<value>com.ir.model.NomineeTrainee</value>
				<value>com.ir.model.CustomerDetails</value>
				<value>com.ir.model.AssessmentQuestions</value>
				<value>com.ir.model.InvoiceMaster</value>
				
				
			<value>com.ir.model.FotestAssessmentQuestions</value>
			 -->
			  <value>com.ir.model.RegionMapping</value>
			    <value>com.ir.model.FeedbackMaster</value>
			  <value>com.ir.model.ManageCourseCarricullum</value>
			  <value>com.ir.model.PersonalInformationTrainer</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				
				
				
				<!-- <prop key="connection.pool_size">1000</prop> -->
				<!-- <prop key="hibernate.hbm2ddl.import_files">sql/default.sql</prop> -->
			</props>
		</property>
	</bean>
	<!-- <bean id="simpleMappingExceptionResolver" class="com.ir.resolver.MySimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<map>
				<entry key="Exception" value="generic_error"></entry>
			</map>
		</property>
		<property name="defaultErrorView" value="generic_error"/>
	</bean> -->
	<!-- <bean id="masterService" class="com.zentech.spring.service.MasterServiceImpl">
	<property name="masterDAO" ref="masterDAO"></property>
	</bean>
	<bean id="masterDAO" class="com.zentech.spring.dao.MasterDAOImpl">
	<property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory" ></property>
	</bean> -->
	
	
	
	<bean id="changePasswordUtility" class="com.ir.util.ChangePasswordUtility"  scope="prototype"/>
	<bean id="adminService" class="com.ir.service.impl.AdminServiceImpl" />
	<bean id="loginDAO" class="com.ir.dao.impl.LoginDAOImpl"/>
	<bean id="registrationServiceTrainee" class="com.ir.service.impl.RegistrationServiceImpl"/>
	<bean id="loginService" class="com.ir.service.impl.LoginServiceImpl"/>
	<bean id="pageLoadService" class="com.ir.service.impl.PageLoadServiceImpl"/>
	<bean id="pageLoadServiceTrainer" class="com.ir.service.impl.PageLoadServiceTrainerImpl"/>
	<bean id="registrationServiceTrainer" class="com.ir.service.impl.RegistrationServiceTrainerImpl"/>
	<bean id="registrationServiceTrainingPartner" class="com.ir.service.impl.RegistrationServiceTrainingPartnerImpl"/>
	<bean id="registrationServiceAssessor" class="com.ir.service.impl.RegistrationServiceAssessorImpl"/>
	<bean id="updateServiceImpl" class="com.ir.service.impl.UpdateServiceImpl"/>
	<bean id="traineeService" class="com.ir.service.impl.TraineeServiceImpl"/>
	<bean id="trainerService" class="com.ir.service.impl.TrainerServiceImpl"/>
	<bean id="trainingInstitudeService" class="com.ir.service.impl.TrainingInstitudeServiceImpl"/>
	<bean id="assessmentAgencyService" class="com.ir.service.impl.AssessmentAgencyServiceImpl"/>
	<bean id="trainerContactService" class="com.ir.service.impl.TrainerContactTServiceIMPL" />
	<bean id="trainingPartnerService" class="com.ir.service.impl.TrainingPartnerServiceImpl" />
	<bean id = "assessmentService" class = "com.ir.service.impl.AssessmentServiceImpl" />
	<bean id="commonService" class="com.ir.service.impl.CommonServiceImpl" />
	 <bean id="assessmentDao" class = "com.ir.dao.impl.AssessmentDaoImpl"/> 
	<bean id="adminDAO" class="com.ir.dao.impl.AdminDAOImpl"/>
	<bean id="commonDao" class="com.ir.dao.impl.CommonDaoImpl"/>
	<bean id="pageLoadDao" class="com.ir.dao.impl.PageLoadDaoImpl"/>
	<bean id="registrationDAO" class="com.ir.dao.impl.RegistrationDAOImpl"/>
	<bean id="pageLoadDaoTrainer" class="com.ir.dao.impl.PageLoadDaoTrainerImpl"/>
	<bean id="registrationTrainerDAO" class="com.ir.dao.impl.RegistrationTrainerDAOImpl"/>
	<bean id="registrationTrainingPartnerDAO" class="com.ir.dao.impl.RegistrationTrainingPartnerDAOImpl"/>
	<bean id="registrationAssessorDAO" class="com.ir.dao.impl.RegistrationAsssessorDAOImpl"/>
	<bean id="updateDAO" class="com.ir.dao.impl.UpdateDAOImpl"/>
	<bean id="traineeDAO" class="com.ir.dao.impl.TraineeDAOImpl"/>
	<bean id="trainerDAO" class="com.ir.dao.impl.TrainerDAOImpl"/>
	 <bean id="trainingInstitudeDAO" class="com.ir.dao.impl.TrainingInstitudeDAOImpl"/> 
	<bean id="assessmentAgencyDao" class="com.ir.dao.impl.AssessmentAgencyDaoImpl"/>
	<bean id="trainerContactDao" class="com.ir.dao.impl.TrainerContactDaoIMPL"/>
	<bean id="trainingPartnerDAO" class="com.ir.dao.impl.TrainingPartnerDaoImpl" />
	<bean id="district" class="com.ir.model.District" scope="prototype"/>
	<bean id="city" class="com.ir.model.City" scope="prototype"/>
	<bean id="state" class="com.ir.model.State" scope="prototype" />
	<bean id="title" class="com.ir.model.Title" scope="prototype"/>
	<bean id="loginDetails" class="com.ir.model.LoginDetails"  scope="prototype"/>
	<bean id="assessmentAgency" class="com.ir.model.ManageAssessmentAgency" scope="prototype"/>
	<bean id="courseEnrolled" class="com.ir.model.CourseEnrolled" scope="prototype" />
	<bean id="courseEnrolledUser" class="com.ir.model.CourseEnrolledUser" scope="prototype" />
	<bean id="trainingPartnerName" class="com.ir.model.ManageTrainingPartner" scope="prototype" />
 	<bean id="kindOfBusiness" class="com.ir.model.KindOfBusiness" scope="prototype" /> 
	 <bean id="courseTypeS" class="com.ir.model.CourseType" scope="prototype" />
	<bean id="feedBackMasterS" class="com.ir.model.FeedbackMaster" scope="prototype" />
	<!-- <bean id="feedBackFormS" class="com.ir.model.FeedbackForm" scope="prototype" /> -->
	<bean id="courseNameS" class="com.ir.model.CourseName" scope="prototype" />
	<bean id="assessmentQuestions" class="com.ir.model.AssessmentQuestions" scope="prototype"/> 
	<bean id="personalInformationTrainee" class="com.ir.model.PersonalInformationTrainee"  scope="prototype"/>
	<bean id="personalInformationTrainer" class="com.ir.model.PersonalInformationTrainer"  scope="prototype"/>
	<bean id="personalInformationTrainingPartner" class="com.ir.model.PersonalInformationTrainingPartner"  scope="prototype"/>
 	<bean id="personalInformationAssessor" class="com.ir.model.PersonalInformationAssessor"  scope="prototype"/> 
	 <bean id="postVacancyTrainingCenter" class="com.ir.model.PostVacancyTrainingCenter"  scope="prototype"/>
	<bean id="assessorAttendance" class="com.ir.model.assessor.AssessorAttendance"  scope="prototype"/>
	<bean id="assessmentResult" class="com.ir.model.assessor.AssessmentResult"  scope="prototype"/>
	<bean id="postVacancyTrainingCenterBeanS" class="com.ir.model.PostVacancyTrainingCenterBean"  scope="prototype"/>
	<bean id="assessmentEvaluationTrainee" class="com.ir.model.trainee.TraineeAssessmentEvaluation"  scope="prototype"/>
	<bean id="assessmentEvaluationTrainer" class="com.ir.model.trainer.TrainerAssessmentEvaluation"  scope="prototype"/>
	
<!-- 	<bean id="generateID" class="com.ir.util.GenerateUniqueID"> 
    <property name="sessionFactory" ref="sessionFactory"></property>
</bean>-->

	
	<bean id="transactionManager"
        class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="dataSource" ref="dataSource" />
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>

