<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Fssai_E-Learning_System</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
  <session-config>
		<session-timeout>30</session-timeout>
	</session-config> 



<filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.ir.filter.SessionFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.fssai</url-pattern>
</filter-mapping> 
	
    <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>com.ir.servlet.config.ConfigServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
	
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.fssai</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Captcha</servlet-name>
    <servlet-class>com.ir.captcha.Captcha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Captcha</servlet-name>
    <url-pattern>/Captcha.jpg</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>searchCity</servlet-name>
    <servlet-class>com.ir.servlet.SearchCity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchCity</servlet-name>
    <url-pattern>/searchCity.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchDistrict</servlet-name>
    <servlet-class>com.ir.servlet.SearchDistrict</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchDistrict</servlet-name>
    <url-pattern>/searchDistrict.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editCityData</servlet-name>
    <servlet-class>com.ir.servlet.EditCityData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCityData</servlet-name>
    <url-pattern>/editCityData.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searctAsAgency</servlet-name>
    <servlet-class>com.ir.servlet.SearchAssesAgency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searctAsAgency</servlet-name>
    <url-pattern>/searchAssesAgency.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>feedbacMaster</servlet-name>
    <servlet-class>com.ir.servlet.SearchFeedbackMaster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbacMaster</servlet-name>
    <url-pattern>/searchFeedbackMaster.jspp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loadDistrict</servlet-name>
    <servlet-class>com.ir.servlet.LoadDistrict</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadDistrict</servlet-name>
    <url-pattern>/loadDistrict.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadCity</servlet-name>
    <servlet-class>com.ir.servlet.CityFill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadCity</servlet-name>
    <url-pattern>/loadCity.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>onLoadDistrict</servlet-name>
    <servlet-class>com.ir.servlet.OnLoadDistrict</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onLoadDistrict</servlet-name>
    <url-pattern>/onLoadDistrict.jspp</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>searchState</servlet-name>
    <servlet-class>com.ir.servlet.SearchState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchState</servlet-name>
    <url-pattern>/searchState.jspp</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>saveAssementCalender</servlet-name>
    <servlet-class>com.ir.servlet.SaveTPAssementCalender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveAssementCalender</servlet-name>
    <url-pattern>/saveAssementCalender.jspp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkState</servlet-name>
    <servlet-class>com.ir.servlet.CheckState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkState</servlet-name>
    <url-pattern>/CheckState.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteState</servlet-name>
    <servlet-class>com.ir.servlet.DeleteState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteState</servlet-name>
    <url-pattern>/deleteState.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteState1</servlet-name>
    <servlet-class>com.ir.servlet.DeleteState</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteState1</servlet-name>
    <url-pattern>/deleteState1.jspp</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
   <servlet>
    <servlet-name>checkdata</servlet-name>
    <servlet-class>com.ir.servlet.CheckData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkdata</servlet-name>
    <url-pattern>/checkdata.jspp</url-pattern>
  </servlet-mapping>
  
  <!--   <servlet>
    <servlet-name>checkaadhartrainee</servlet-name>
    <servlet-class>com.ir.servlet.CheckAadharTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkaadhartrainee</servlet-name>
    <url-pattern>/checkaadhartrainee.jspp</url-pattern>
  </servlet-mapping> -->
  
  <!--  <servlet>
    <servlet-name>checkaadhartrainer</servlet-name>
    <servlet-class>com.ir.servlet.CheckAadharTrainer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkaadhartrainer</servlet-name>
    <url-pattern>/checkaadhartrainer.jspp</url-pattern>
  </servlet-mapping> -->
  
  
 <!--   <servlet>
    <servlet-name>checkaadharassessor </servlet-name>
    <servlet-class>com.ir.servlet.CheckAadharAccessor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkaadharassessor</servlet-name>
    <url-pattern>/checkaadharassessor.jspp</url-pattern>
  </servlet-mapping> -->
  
  <servlet>
    <servlet-name>manageCourseContent</servlet-name>
    <servlet-class>com.ir.servlet.ManageCourseContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageCourseContent</servlet-name>
    <url-pattern>/manageCourseContent.jspp</url-pattern>
  </servlet-mapping>
<!--   <servlet>
    <servlet-name>searchManageCourse</servlet-name>
    <servlet-class>com.ir.servlet.SearchManageCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchManageCourse</servlet-name>
    <url-pattern>/searchManageCourse.jspp</url-pattern>
  </servlet-mapping> -->
  <servlet>
  <servlet-name>searchAssessor</servlet-name> 
  <servlet-class>com.ir.servlet.SearchAssessor</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchAssessor</servlet-name> 
  <url-pattern>/searchAssessor.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>changeAssessor</servlet-name> 
  <servlet-class>com.ir.servlet.ChangeAssessor</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>changeAssessor</servlet-name> 
  <url-pattern>/changeAssessor.jspp</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>changeAssessor1</servlet-name> 
  <servlet-class>com.ir.servlet.ChangeAssessor1</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>changeAssessor1</servlet-name> 
  <url-pattern>/changeAssessor1.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>deleteCourseContent</servlet-name> 
  <servlet-class>com.ir.servlet.DeleteCourseContent</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>deleteCourseContent</servlet-name> 
  <url-pattern>/deleteCourseContent.jspp</url-pattern> 
  </servlet-mapping>
  
  
  
  
  
  
  <servlet>
  <servlet-name>onLoadTrainingPartnerCenterId</servlet-name> 
  <servlet-class>com.ir.servlet.OnLoadTrainingPartnerCenterId</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>onLoadTrainingPartnerCenterId</servlet-name> 
  <url-pattern>/onLoadTrainingPartnerCenterId.jspp</url-pattern> 
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>getSingleAssessmentQuestions</servlet-name> 
  <servlet-class>com.ir.servlet.GetAssessmentQuestion</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getSingleAssessmentQuestions</servlet-name> 
  <url-pattern>/getSingleAssessmentQuestions.jspp</url-pattern> 
  </servlet-mapping>
  
     <servlet>
    <servlet-name>saveFeedbackForm</servlet-name>
    <servlet-class>com.ir.servlet.SaveFeedbackForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveFeedbackForm</servlet-name>
    <url-pattern>/saveFeedbackForm.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchManageCourseContent</servlet-name>
    <servlet-class>com.ir.servlet.SearchManageCourseContent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchManageCourseContent</servlet-name>
    <url-pattern>/searchManageCourseContent.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>editManageCourseData</servlet-name> 
  <servlet-class>com.ir.servlet.EditManageCourseData</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>editManageCourseData</servlet-name> 
  <url-pattern>/editManageCourseData.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>deleteManageCourse</servlet-name> 
  <servlet-class>com.ir.servlet.DeleteManageCourseData</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>deleteManageCourse</servlet-name> 
  <url-pattern>/deleteManageCourse.jspp</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>loadCourseName</servlet-name> 
  <servlet-class>com.ir.servlet.LoadCourseName</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>loadCourseName</servlet-name> 
  <url-pattern>/loadCourseName.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>loadTrainingCenter</servlet-name> 
  <servlet-class>com.ir.servlet.LoadTrainingCenter</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>loadTrainingCenter</servlet-name> 
  <url-pattern>/loadTrainingCenter.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchTrainingPartnameList</servlet-name> 
  <servlet-class>com.ir.servlet.OnLoadAdminTrainingPartnerList</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchTrainingPartnameList</servlet-name> 
  <url-pattern>/searchTrainingPartnameList.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchAssessmentAgencyList</servlet-name> 
  <servlet-class>com.ir.servlet.OnLoadAdminAssessmentAgencyList</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchAssessmentAgencyList</servlet-name> 
  <url-pattern>/searchAssessmentAgencyList.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchAssessorDetail</servlet-name> 
  <servlet-class>com.ir.servlet.SearchAssessorDetail</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchAssessorDetail</servlet-name> 
  <url-pattern>/searchAssessorDetail.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchAssessorCalendar</servlet-name> 
  <servlet-class>com.ir.servlet.SearchAssessorCalendar</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchAssessorCalendar</servlet-name> 
  <url-pattern>/searchAssessorCalendar.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>markAssessorAttendance</servlet-name> 
  <servlet-class>com.ir.servlet.MarkAssessorAttendance</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>markAssessorAttendance</servlet-name> 
  <url-pattern>/markAssessorAttendance.jspp</url-pattern> 
  </servlet-mapping>
   <servlet>
  <servlet-name>updateAssessmentResult</servlet-name> 
  <servlet-class>com.ir.servlet.assessor.UpdateAssessmentResult</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>updateAssessmentResult</servlet-name> 
  <url-pattern>/updateAssessmentResult.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>viewAssessmentAgencyCalendar</servlet-name> 
  <servlet-class>com.ir.servlet.assessor.ViewAssessmentAgencyCalendar</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>viewAssessmentAgencyCalendar</servlet-name> 
  <url-pattern>/viewAssessmentAgencyCalendar.jspp</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>searchAssessorTraineesForResults</servlet-name> 
  <servlet-class>com.ir.servlet.assessor.SearchAssessorTraineesForResults</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchAssessorTraineesForResults</servlet-name> 
  <url-pattern>/searchAssessorTraineesForResults.jspp</url-pattern> 
  </servlet-mapping>
   <servlet>
  <servlet-name>searchAssessorAttendanceCourses</servlet-name> 
  <servlet-class>com.ir.servlet.assessor.SearchAssessorAttendanceCourses</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchAssessorAttendanceCourses</servlet-name> 
  <url-pattern>/searchAssessorAttendanceCourses.jspp</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>applyAssessments</servlet-name> 
  <servlet-class>com.ir.servlet.assessor.ApplyAssessment</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>applyAssessments</servlet-name> 
  <url-pattern>/applyAssessments.jspp</url-pattern> 
  </servlet-mapping>
  
   <servlet>
  <servlet-name>changeStatusDistrict</servlet-name> 
  <servlet-class>com.ir.servlet.ChangeStatusDistrict</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>changeStatusDistrict</servlet-name> 
  <url-pattern>/changeStatusDistrict.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>deleteCity</servlet-name> 
  <servlet-class>com.ir.servlet.DeleteCity</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>deleteCity</servlet-name> 
  <url-pattern>/deleteCity.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>onLoadRegion</servlet-name> 
  <servlet-class>com.ir.servlet.OnLoadRegion</servlet-class> 
  </servlet>
  <servlet>
  <servlet-name>searchRegion</servlet-name> 
  <servlet-class>com.ir.servlet.SearchRegion</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>onLoadRegion</servlet-name> 
  <url-pattern>/onLoadRegion.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>EditRegion</servlet-name> 
  <servlet-class>com.ir.servlet.EditRegion</servlet-class> 
  </servlet>
   <servlet-mapping>
  <servlet-name>EditRegion</servlet-name> 
  <url-pattern>/editRegionData.jspp</url-pattern> 
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>searchRegion</servlet-name> 
  <url-pattern>/searchRegion.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchData</servlet-name> 
  <servlet-class>com.ir.servlet.SearchData</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchData</servlet-name> 
  <url-pattern>/searchData.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>editMAA</servlet-name> 
  <servlet-class>com.ir.servlet.EditMAA</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>editMAA</servlet-name> 
  <url-pattern>/editMAA.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchDataTP</servlet-name> 
  <servlet-class>com.ir.servlet.SearchDataTP</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchDataTP</servlet-name> 
  <url-pattern>/searchDataTP.jspp</url-pattern> 
  </servlet-mapping>
   <servlet>
  <servlet-name>editMTP</servlet-name> 
  <servlet-class>com.ir.servlet.EditMTP</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>editMTP</servlet-name> 
  <url-pattern>/editMTP.jspp</url-pattern> 
  </servlet-mapping>
   <servlet>
  <servlet-name>getCourseDetails</servlet-name> 
  <servlet-class>com.ir.servlet.GetCourseDetails</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getCourseDetails</servlet-name> 
  <url-pattern>/getCourseDetails.jspp</url-pattern> 
  </servlet-mapping> 
  <servlet>
  <servlet-name>searchTrainingCenterList</servlet-name> 
  <servlet-class>com.ir.servlet.SearchTrainingCenterList</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchTrainingCenterList</servlet-name> 
  <url-pattern>/searchTrainingCenterList.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>getTrainingCalender</servlet-name> 
  <servlet-class>com.ir.servlet.GetTrainingCalender</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getTrainingCalender</servlet-name> 
  <url-pattern>/getTrainingCalender.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>updateMAA</servlet-name> 
  <servlet-class>com.ir.servlet.UpdateMAA</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>updateMAA</servlet-name> 
  <url-pattern>/updateMAA.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchCourse</servlet-name> 
  <servlet-class>com.ir.servlet.SearchCourse</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchCourse</servlet-name> 
  <url-pattern>/searchCourse.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>getQuestions</servlet-name> 
  <servlet-class>com.ir.servlet.GetQuestions</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getQuestions</servlet-name> 
  <url-pattern>/getQuestions.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>getStateUpdate</servlet-name> 
  <servlet-class>com.ir.servlet.GetStateUpdate</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getStateUpdate</servlet-name> 
  <url-pattern>/getStateUpdate.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>getDistrictUpdate</servlet-name> 
  <servlet-class>com.ir.servlet.GetDistrictUpdate</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getDistrictUpdate</servlet-name> 
  <url-pattern>/getDistrictUpdate.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>getCityUpdate</servlet-name> 
  <servlet-class>com.ir.servlet.GetCityUpdate</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getCityUpdate</servlet-name> 
  <url-pattern>/getCityUpdate.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>searchUpcomingTraining</servlet-name> 
  <servlet-class>com.ir.servlet.SearchUpcomingTraining</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchUpcomingTraining</servlet-name> 
  <url-pattern>/searchUpcomingTraining.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  <servlet-name>getCourseName</servlet-name> 
  <servlet-class>com.ir.servlet.GetCourseName</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getCourseName</servlet-name> 
  <url-pattern>/getCourseName.jspp</url-pattern> 
  </servlet-mapping>
  
   <servlet>
   <servlet-name>getAssessorName</servlet-name> 
  <servlet-class>com.ir.servlet.GetAssessorName</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getAssessorName</servlet-name> 
  <url-pattern>/getAssessorName.jspp</url-pattern> 
  </servlet-mapping>

  <servlet>
  <servlet-name>searchVacancy</servlet-name> 
  <servlet-class>com.ir.servlet.SearchVacancy</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchVacancy</servlet-name> 
  <url-pattern>/searchVacancy.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
  <servlet-name>traineeCenterViewTrainee</servlet-name> 
  <servlet-class>com.ir.servlet.TraineeCenterViewTraineeList</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>traineeCenterViewTrainee</servlet-name> 
  <url-pattern>/traineeCenterViewTrainee.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
  <servlet-name>traineeCenterPaymentConfirmation</servlet-name> 
  <servlet-class>com.ir.servlet.TraineeCenterPaymentConfirmation</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>traineeCenterPaymentConfirmation</servlet-name> 
  <url-pattern>/traineeCenterPaymentConfirmation.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
   <servlet-name>traineeCenterViewFeedBack</servlet-name> 
  <servlet-class>com.ir.servlet.TraineeCenterViewFeedBackList</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>traineeCenterViewFeedBack</servlet-name> 
  <url-pattern>/traineeCenterViewFeedBack.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
   <servlet-name>traineeAssessmentCalender</servlet-name> 
  <servlet-class>com.ir.servlet.TraineeCenterAssessmentCalender</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>traineeAssessmentCalender</servlet-name> 
  <url-pattern>/traineeAssessmentCalender.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
  <servlet-name>getApplicationStatusDetails</servlet-name> 
  <servlet-class>com.ir.servlet.TrainingPartnerApplicationStatus</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>getApplicationStatusDetails</servlet-name> 
  <url-pattern>/getApplicationStatusDetails.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
  <servlet-name>trainingpartnermanagetrainer</servlet-name> 
  <servlet-class>com.ir.servlet.TrainingPartnerManageTrainer</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>trainingpartnermanagetrainer</servlet-name> 
  <url-pattern>/trainingpartnermanagetrainer.jspp</url-pattern> 
  </servlet-mapping>
  
  <servlet>
  <servlet-name>savePaymentStatus</servlet-name> 
  <servlet-class>com.ir.servlet.savePaymentStatus</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>savePaymentStatus</servlet-name> 
  <url-pattern>/savePaymentStatus.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
  <servlet-name>traineeCenterViewTraineeList</servlet-name> 
  <servlet-class>com.ir.servlet.TraineeCenterViewTraineeLists</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>traineeCenterViewTraineeList</servlet-name> 
  <url-pattern>/traineeCenterViewTraineeList.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
  
  <servlet-name>updateMTP</servlet-name> 
  <servlet-class>com.ir.servlet.UpdateMTP</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>updateMTP</servlet-name> 
  <url-pattern>/updateMTP.jspp</url-pattern> 
  </servlet-mapping>
  <servlet>
    <servlet-name>advanveTrineeCourse</servlet-name>
    <servlet-class>com.ir.servlet.AdvanceCourseTrainee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advanveTrineeCourse</servlet-name>
    <url-pattern>/getAdvanceCourseDetailsTrainee.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getSpecialTraineeCourse</servlet-name>
    <servlet-class>com.ir.servlet.GetTraineeSpecialCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSpecialTraineeCourse</servlet-name>
    <url-pattern>/getSpecialCourseDetails.jspp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editCourseContentDataMCC</servlet-name>
    <servlet-class>com.ir.servlet.EditCourseContentDataMCC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCourseContentDataMCC</servlet-name>
    <url-pattern>/editCourseContentDataMCC.jspp</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>searchMarkAttendance</servlet-name> 
  <servlet-class>com.ir.servlet.SearchMarkAttendance</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>searchMarkAttendance</servlet-name> 
  <url-pattern>/searchMarkAttendance.jspp</url-pattern> 
  </servlet-mapping> 
  
   <servlet>
  <servlet-name>updateAttendanceStatus</servlet-name> 
  <servlet-class>com.ir.servlet.updateAttendanceStatus</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>updateAttendanceStatus</servlet-name> 
  <url-pattern>/updateAttendanceStatus.jspp</url-pattern> 
  </servlet-mapping>
  
   <servlet>
  <servlet-name>updateTraineeAssessmentResult</servlet-name> 
  <servlet-class>com.ir.servlet.UpdateTraineeAssessmentResult</servlet-class> 
  </servlet>
  <servlet-mapping>
  <servlet-name>updateTraineeAssessmentResult</servlet-name> 
  <url-pattern>/updateTraineeAssessmentResult.jspp</url-pattern> 
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loadFeedbackMaster</servlet-name>
    <servlet-class>com.ir.servlet.loadFeedbackMaster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadFeedbackMaster</servlet-name>
    <url-pattern>/loadFeedbackMaster.jspp</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>getFeedbackDetails</servlet-name>
    <servlet-class>com.ir.servlet.getFeedbackDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFeedbackDetails</servlet-name>
    <url-pattern>/getFeedbackDetails.jspp</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <servlet-name>getCourseTrainingMode</servlet-name>
    <servlet-class>com.ir.servlet.getCourseTrainingMode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCourseTrainingMode</servlet-name>
    <url-pattern>/getCourseTrainingMode.jspp</url-pattern>
  </servlet-mapping>
  
</web-app>